[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/plugins/start/nord-vim"]
	path = vim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "themes/Nordic"]
	path = themes/Nordic
	url = https://github.com/EliverLara/Nordic
